body{
    font-family: sans-serif;
}
.content{
    padding: 6px;
}

.olapic-popup .btn-group {
    margin: 6px 28px;
}
.olapic-popup input {
    margin: 6px 0px;
}
.olapic-popup .content{
    width: 212px;
    height: 140px;
}


.olapic-popup .content .btn-create{
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    background: #ccc;
    cursor: pointer;

}
.instances-list .btn{
    margin: 12px 0px 0px 50px;
}
.opt-buttons{
    position: absolute;
    bottom: 0px;
}
.apigroup{
    margin-bottom: 6px;
}
.apigroup button{ width: 79px; }